<a href="https://colab.research.google.com/github/shallynagfase9/SQL/blob/main/MySQL_assgmt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# A database is a collection of data that is organized and stored in a way that allows for efficient retrieval and manipulation of the data.
# SQL and NoSQL are two types of databases that differ in their data models, query languages, scalability, and use cases.
# SQL databases are relational, meaning they store data in tables with predefined schemas and use SQL to query and manage data.
# NoSQL databases are non-relational and use dynamic schemas to store and retrieve data in various formats, such as documents, key-value pairs, graphs, or wide-column stores.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# Data Definition Language (DDL) is a set of SQL commands used to create, modify, and remove the structures of a database, such as tables, indexes, and schemas.
# CREATE: This command is used to create new database objects, such as tables, indexes, and databases.
'''
CREATE TABLE employees (
  id INTEGER PRIMARY KEY,
  first_name VARCHAR(50) NOT NULL,
  last_name VARCHAR(75) NOT NULL,
  mid_name VARCHAR(50) NOT NULL,
  dateofbirth DATE NOT NULL
);
'''
# ALTER: This command is used to modify existing database objects, such as adding or modifying columns, constraints, or indexes.
'''
ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);
ALTER TABLE employees ADD CONSTRAINT fk_department_id FOREIGN KEY (department_id) REFERENCES departments(id);
'''
# DROP: This command is used to remove database objects, such as tables, indexes, and databases.
'''
DROP TABLE employees;
'''
# TRUNCATE: This command is used to remove all data from a table while preserving its structure.
'''
TRUNCATE TABLE employees;
'''

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Data Manipulation Language (DML) is a set of SQL commands used to manipulate data within a database. The primary DML commands are:
'''
SELECT: This command is used to retrieve data from the database.
SELECT * FROM Employees;
INSERT: This command is used to insert data into a table.
INSERT INTO Employees (Emp_id, Emp_name) VALUES (101, 'Kira');
UPDATE: This command is used to update existing data within a table.
UPDATE Employees SET Emp_name = 'Jane Doe' WHERE Emp_id = 101;
DELETE: This command is used to delete records from a database table.
DELETE FROM Employees WHERE Emp_id = 101;
'''

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.
# DQL (Data Query Language) is used to retrieve data from a database using SQL-like syntax.
'''
SELECT u, UPPER(u.name) AS upper_name
FROM Users u
WHERE u.age > 20;
'''

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
'''
Primary Key
A primary key is a column or combination of columns in a table that uniquely identifies each row in the table. It ensures that each row has a unique identifier, and it cannot contain null values. The primary key is used to enforce entity integrity, which means that each row in the table must have a unique value for its primary key.
Foreign Key
A foreign key is a column or group of columns in a relational database table that references the primary key of another table. It establishes a link between two tables, allowing for the maintenance of referential integrity. The foreign key column(s) must contain values that exist in the primary key column(s) of the referenced table.

'''

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''
import mysql.connector

cnx = mysql.connector.connect(
    user='your_username',
    password='your_password',
    host='your_host',
    database='your_database'
)

cursor = cnx.cursor()

query = 'SHOW TABLES'
cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
cnx.close()
'''
'''The cursor() method is used to create a cursor object, which interacts with the MySQL server using the connection object.
The execute() method is used to execute SQL queries or commands.'''

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
'''
The order of execution of SQL clauses in a query is as follows:
FROM/JOIN
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET
'''